body{
  font-family: 'Nanum Gothic Coding', monospace;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  border-radius: 20px;
  width: 350px;
  height: 300px;
  background-color: #f0f0f0;
  box-shadow:  0 0 0 #cccccc,
               0 0 0 #ffffff,
               10px 10px 10px #cccccc inset,
               -10px -10px 10px #cccccc inset;       
  animation: anime 3s 1s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  color: crimson;
}
.btnn {
  color: #fff;
  background-color: crimson;
  border-color: crimson;
}
.btnn:hover{
  color: crimson;
  background-color: #fff;
  border-color: crimson;
}
form .btnn {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}
input {
  font-size: 20px;
  padding-block: 12px !important;
}
.border-in {
  border: 2px solid crimson;
}
.border-in:focus {
  box-shadow: none;
  border: 2px solid crimson;
}
.capatcha-text {
  position: absolute;
  left: 49%;
  top: 48%;
  transform: translate(-50%, -50%);
  font-size: 29px;
  letter-spacing: 15px;
  color: #f0f0f0;
  padding: 10px;
}
.col{
  background-image: url(../bg.png);
  width: 250px;
  height: 70px;
}
